{% load static %}
{% load account %}


<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>بازیابی گذرواژه</title>
    <meta name="description" content=""/>
    <meta name="Author" content="Dorin Grigoras [www.stepofweb.com]"/>

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0"/>

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext"
          rel="stylesheet" type="text/css"/>

    <!-- CORE CSS -->
    <link href="{% static 'smarty/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>

    <!-- THEME CSS -->
    <link href="{% static 'smarty/css/essentials.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'smarty/css/layout.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'smarty/css/color_scheme/green.css' %}" rel="stylesheet" type="text/css" id="color_scheme"/>
    <link href="{% static 'smarty/plugins/bootstrap/RTL/bootstrap-rtl.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'smarty/plugins/bootstrap/RTL/bootstrap-flipped.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'smarty/css/layout-RTL.css' %}" rel="stylesheet" type="text/css"/>

</head>
<!--
    .boxed = boxed version
-->
<body>


    <div class="padding-15">

        <div class="login-box">

            {% if messages %}
                <div class="alert alert-info">
                    <div class="text-left list-inline">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <!-- login form -->
            {% if token_fail %}
                <div class="login-box">
                    <div class="card text-center">
                        <div class="card-header">
                            <h3>بازیابی گذرواژه</h3>
                        </div>
                        <hr>
                        <div class="card-body">

                            {% if messages %}
                                <div class="alert alert-info">
                                    <div class="text-left list-inline">
                                        {% for message in messages %}
                                            <p>{{ message }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            <p>لینک بازیابی رمز عبور نامعتبر است شاید به این دلیل که این لینک قبلا استفاده شده است. لطفا
                                یک درخواست بازیابی جدید ارسال کنید.</p>

                            <a href="{% url 'account_reset_password' %}" class="btn btn-primary">درخواست بازیابی
                                گذرواژه</a>
                        </div>

                    </div>
                </div>

            {% else %}
                {% if form %}
                    <form action="{{ action_url }}" method="post" class="sky-form boxed">
                        {% csrf_token %}
                        <header><i class="fa fa-users"></i>تغییر گذرواژه</header>

                        <fieldset>

                            <section>
                                <label class="label">گذرواژه جدید</label>
                                <label class="input">
                                    <i class="icon-append fa fa-lock"></i>
                                    <input type="password" name="password1">
                                </label>
                            </section>

                            <section>
                                <label class="label">تکرار گذرواژه جدید</label>
                                <label class="input">
                                    <i class="icon-append fa fa-lock"></i>
                                    <input type="password" name="password2">
                                </label>
                            </section>

                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}"
                                       value="{{ redirect_field_value }}"/>
                            {% endif %}

                        </fieldset>

                        {% if form.errors %}
                            <div class="alert alert-danger">
                                <div class="text-left list-inline">
                                    {% for key, value in form.errors.items %}
                                        <p>{{ value }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        <footer>
                            <button type="submit" class="btn btn-primary pull-right">تغییر گذرواژه</button>
                            <div class="forgot-password pull-left">
                            </div>
                        </footer>

                    </form>
                {% else %}
                    <p>گذرواژه شما تغییر کرده است.</p>
                {% endif %}
            {% endif %}
            <!-- /login form -->

        </div>

    </div>

    <!-- JAVASCRIPT FILES -->
    <script type="text/javascript">var plugin_path = "{% static 'smarty/plugins/' %}";</script>
    <script type="text/javascript" src="{% static 'smarty/plugins/jquery/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'smarty/js/app.js' %}"></script>
</body>
</html>